.App {
  text-align: center;
}

.carousel-inner img {
  margin: auto;
  width: 640px;
  height: 424px;
}

.navbar
{
    margin-bottom: 0px;
}

.carousel-control.left, .carousel-control.right {
   background-image:none !important;
   filter:none !important;
}

.info {
  margin: 15px 15% 1em;
}

input {
  border: 0;
  padding: 10px;
  width: 90%;
  margin-right: .5%;
}

.chatForm {
  background: #000;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.coolButton {
  width: 9%;
  background: rgb(0, 0, 0);
  border: none;
  padding: 10px;
  color: white;
}

#messages {
  list-style: none; margin: 0; padding: 0
}

#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd){
  background: #eee;
}
